# Uber Pick-up Demand Prediction using LSTM

### CPSC8650 Data Mining
### Spring 2021, Clemson University

#### Nirali Bandaru, Rohan Gangisetty, Rajesh Kandimalla

In [108]:
#Importing the necessary libraries
import pandas as pd
import numpy as np
import time

In [109]:
#Importing data sets as dataframes using Pandas
apr_df = pd.read_csv(r"C:\Users\niral\OneDrive\Documents\Clemson\Semester 4\Data Mining\Project\Uber\Data\modified data2\uber-raw-data-apr14.csv")
may_df = pd.read_csv(r"C:\Users\niral\OneDrive\Documents\Clemson\Semester 4\Data Mining\Project\Uber\Data\modified data2\uber-raw-data-may14.csv")
jun_df = pd.read_csv(r"C:\Users\niral\OneDrive\Documents\Clemson\Semester 4\Data Mining\Project\Uber\Data\modified data2\uber-raw-data-jun14.csv")
jul_df = pd.read_csv(r"C:\Users\niral\OneDrive\Documents\Clemson\Semester 4\Data Mining\Project\Uber\Data\modified data2\uber-raw-data-jul14.csv")
aug_df = pd.read_csv(r"C:\Users\niral\OneDrive\Documents\Clemson\Semester 4\Data Mining\Project\Uber\Data\modified data2\uber-raw-data-aug14.csv")
sep_df = pd.read_csv(r"C:\Users\niral\OneDrive\Documents\Clemson\Semester 4\Data Mining\Project\Uber\Data\modified data2\uber-raw-data-sep14.csv")

In [110]:
#EXPLORING and VIEWING THE IMPORTED DATAFRAMES

#APRIL
print("April: \n", apr_df.head())
print("Number of rows: ", apr_df.count())
print("Null values: ", apr_df.isnull().sum())

#MAY
print("May: \n", may_df.head())
print("Number of rows: ", may_df.count())
print("Null values: ", may_df.isnull().sum())

#JUN
print("Jun: \n", jun_df.head())
print("Number of rows: ", jun_df.count())
print("Null values: ", jun_df.isnull().sum())

#JUL
print("Jul: \n", jul_df.head())
print("Number of rows: ", jul_df.count())
print("Null values: ", jul_df.isnull().sum())

#AUG
print("Aug: \n", aug_df.head())
print("Number of rows: ", aug_df.count())
print("Null values: ", aug_df.isnull().sum())

#SEP
print("Sep: \n", sep_df.head())
print("Number of rows: ", sep_df.count())
print("Null values: ", sep_df.isnull().sum())

total_number_of_rows = 4534327

April:
        Date     Time      Lat      Lon    Base
0  4/1/2014  0:11:00  40.7690 -73.9549  B02512
1  4/1/2014  0:17:00  40.7267 -74.0345  B02512
2  4/1/2014  0:21:00  40.7316 -73.9873  B02512
3  4/1/2014  0:28:00  40.7588 -73.9776  B02512
4  4/1/2014  0:33:00  40.7594 -73.9722  B02512
Number of rows:  Date    564516
Time    564516
Lat     564516
Lon     564516
Base    564516
dtype: int64
Null values:  Date    0
Time    0
Lat     0
Lon     0
Base    0
dtype: int64
May:
        Date     Time      Lat      Lon    Base
0  5/1/2014  0:02:00  40.7521 -73.9914  B02512
1  5/1/2014  0:06:00  40.6965 -73.9715  B02512
2  5/1/2014  0:15:00  40.7464 -73.9838  B02512
3  5/1/2014  0:17:00  40.7463 -74.0011  B02512
4  5/1/2014  0:17:00  40.7594 -73.9734  B02512
Number of rows:  Date    652435
Time    652434
Lat     652435
Lon     652435
Base    652435
dtype: int64
Null values:  Date    0
Time    1
Lat     0
Lon     0
Base    0
dtype: int64
Jun:
        Date     Time      Lat      Lon    Base
0  6/1/2014  0:00:00  40.7293 -73.9920  B02512
1  6/1/2014  0:01:00  40.7131 -74.0097  B02512
2  6/1/2014  0:04:00  40.3461 -74.6610  B02512
3  6/1/2014  0:04:00  40.7555 -73.9833  B02512
4  6/1/2014  0:07:00  40.6880 -74.1831  B02512
Number of rows:  Date    663844
Time    663844
Lat     663844
Lon     663844
Base    663844
dtype: int64
Null values:  Date    0
Time    0
Lat     0
Lon     0
Base    0
dtype: int64
Jul:
        Date     Time      Lat      Lon    Base
0  7/1/2014  0:03:00  40.7586 -73.9706  B02512
1  7/1/2014  0:05:00  40.7605 -73.9994  B02512
2  7/1/2014  0:06:00  40.7320 -73.9999  B02512
3  7/1/2014  0:09:00  40.7635 -73.9793  B02512
4  7/1/2014  0:20:00  40.7204 -74.0047  B02512
Number of rows:  Date    796121
Time    796121
Lat     796121
Lon     796121
Base    796121
dtype: int64
Null values:  Date    0
Time    0
Lat     0
Lon     0
Base    0
dtype: int64
Aug:
        Date     Time      Lat      Lon    Base
0  8/1/2014  0:03:00  40.7366 -73.9906  B02512
1  8/1/2014  0:09:00  40.7260 -73.9918  B02512
2  8/1/2014  0:12:00  40.7209 -74.0507  B02512
3  8/1/2014  0:12:00  40.7387 -73.9856  B02512
4  8/1/2014  0:12:00  40.7323 -74.0077  B02512
Number of rows:  Date    829275
Time    829273
Lat     829275
Lon     829275
Base    829275
dtype: int64
Null values:  Date    0
Time    2
Lat     0
Lon     0
Base    0
dtype: int64
Sep:
        Date     Time      Lat      Lon    Base
0  9/1/2014  0:01:00  40.2201 -74.0021  B02512
1  9/1/2014  0:01:00  40.7500 -74.0027  B02512
2  9/1/2014  0:03:00  40.7559 -73.9864  B02512
3  9/1/2014  0:06:00  40.7450 -73.9889  B02512
4  9/1/2014  0:11:00  40.8145 -73.9444  B02512
Number of rows:  Date    1028136
Time    1028136
Lat     1028136
Lon     1028136
Base    1028136
dtype: int64
Null values:  Date    0
Time    0
Lat     0
Lon     0
Base    0
dtype: int64

In [111]:
#Creating a list of all dataframes to combine
df_list = [apr_df, may_df, jun_df, jul_df, aug_df, sep_df]

#Concatenate dataframes with pandas
dataframe = pd.concat(df_list)

In [112]:
#Verify number of rows and format with count() and head(), respectively
dataframe.head()
dataframe.count()

Date    4534327
Time    4534324
Lat     4534327
Lon     4534327
Base    4534327
dtype: int64

In [113]:
#Write new dataframe as combined csv file
dataframe.to_csv("combined_new.csv")

"""
NOTE: There are a total of 4534327 rows in the combined dataframe, and excel can only display a maximum of
1,048,576 rows. To view all data, open file in Notepad++

"""

PermissionError: [Errno 13] Permission denied

## Data Cleaning

In [ ]:
#Checking for missing values

dataframe.isnull().sum()

In [ ]:
#Printing missing values

null_data = dataframe[dataframe.isnull().any(axis=1)]
print(null_data)

In [ ]:
dataframe = dataframe.dropna()

In [ ]:
#Verify that there are no missing values

count_of_null_values_total = dataframe.isnull().values.sum()
count_of_null_values_for_each_column = dataframe.isnull().sum()
boolean_result_for_null_values = dataframe.isnull().values.any()

print("Total null values: ", count_of_null_values_total)
print("Count of null values for each column: ", count_of_null_values_for_each_column)
print("Do null values exist? ", boolean_result_for_null_values)

In [ ]:
#Changing dtype object to appropriate data types for each column

dataframe['Date'] = pd.to_datetime(dataframe['Date'], errors = "coerce")
dataframe['Time'] = pd.to_datetime(dataframe['Time'], errors = "coerce")
dataframe['Time'] = [time.time() for time in dataframe['Time']]
dataframe['Lat'] = pd.to_numeric(dataframe['Lat'], errors = "coerce")
dataframe['Lon'] = pd.to_numeric(dataframe['Lon'], errors = "coerce")
dataframe['Base'] = dataframe['Base'].astype('string')

In [ ]:
#Checking mininum and maximum values for each attribute
print("ATTRIBUTE RANGES\n")
print("DATE    Min: ", dataframe["Date"].min(), "Max: ", dataframe["Date"].max())
print("TIME    Min: ", dataframe["Time"].min(), "Max: ", dataframe["Time"].max())
print("LAT     Min: ", dataframe["Lat"].min(), "Max: ", dataframe["Lat"].max())
print("LON     Min: ", dataframe["Lon"].min(), "Max: ", dataframe["Lon"].max())
print("BASE    Min: ", dataframe["Base"].min(), "Max: ", dataframe["Base"].max())

In [ ]:
dataframe.head()